<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>gerenciador</display-name>
  <welcome-file-list>
    <welcome-file>bem-vindo.html</welcome-file>
  </welcome-file-list>
  
  <!-- Definindo a classe que está definida como um servlet -->
  <servlet>
  	<servlet-name>OiMundoServlet</servlet-name>
  	<servlet-class>br.com.alura.gerenciador.servlet.OiMundoServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  	<description>Servlet que é iniciado na subida do servidor</description>
  </servlet>
  <!-- Definindo o mapeamento para o servlet que foi definido -->
  <servlet-mapping>
  	<servlet-name>OiMundoServlet</servlet-name>
  	<url-pattern>/ola</url-pattern>
  </servlet-mapping>
 
  
  <!-- Tempo de sessão de desuso em min -->
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config> 
    
  <!-- Padrão JAAS 
   <login-config>
     <auth-method>BASIC</auth-method>
   </login-config>

   <security-role>
       <role-name>ADMINISTRADOR</role-name>
   </security-role>

   <security-role>
       <role-name>USUARIO</role-name>
   </security-role>

   <security-constraint>
       <web-resource-collection>
           <web-resource-name>acesso controlador</web-resource-name>
           <url-pattern>/unicaEntrada</url-pattern>
       </web-resource-collection>
       <auth-constraint>
           <role-name>ADMINISTRADOR</role-name>
       </auth-constraint>
   </security-constraint>

   <security-constraint>
       <web-resource-collection>
           <web-resource-name>acesso a paginas html</web-resource-name>
           <url-pattern>*.html</url-pattern>

       </web-resource-collection>
       <auth-constraint>
           <role-name>USUARIO</role-name>
       </auth-constraint>
   </security-constraint> -->
   
   <!-- Configuração dos Filtros - A declaração define a ordem de chamada dos filtros -->
   <filter>
	   <filter-name>MonitoramentoFilter</filter-name>
	   <filter-class>br.com.alura.gerenciador.servlet.MonitoramentoFilter</filter-class>
   </filter>
   <filter-mapping>
	   <filter-name>MonitoramentoFilter</filter-name>
	   <url-pattern>/unicaEntrada</url-pattern>
   </filter-mapping>
   
   <filter>
	   <filter-name>AutorizacaoFilter</filter-name>
	   <filter-class>br.com.alura.gerenciador.servlet.AutorizacaoFilter</filter-class>
   </filter>
   <filter-mapping>
	   <filter-name>AutorizacaoFilter</filter-name>
	   <url-pattern>/unicaEntrada</url-pattern>
   </filter-mapping>
   
   <filter>
	   <filter-name>ControladorFilter</filter-name>
	   <filter-class>br.com.alura.gerenciador.servlet.ControladorFilter</filter-class>
   </filter>
   <filter-mapping>
	   <filter-name>ControladorFilter</filter-name>
	   <url-pattern>/unicaEntrada</url-pattern>
   </filter-mapping>

</web-app>